<div class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Family Management</strong>
            </a>
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a href="/" class="navbar-item">Home</a>
                <a href="/about" class="navbar-item">About</a>
                <a href="#" class="navbar-item">Features</a>
                <a href="#" class="navbar-item">Contact</a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{{ url_for('user.login') }}" class="button is-light">Log in</a>
                        <a href="{{ url_for('user.register') }}" class="button is-primary">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>