{% extends 'bases/main.html' %}

{% block content %}
<div class="columns is-gapless" style="min-height: 100vh;">
    {% block nav %}
    {% include 'components/dashnav.html' %}
    {% endblock %}

    <main class="column">
        <div class="section">
            {% block main %}
            {% endblock %}
        </div>
    </main>
</div>

<footer class="footer">
    {% block footer %}
    <div class="content has-text-centered">
        <p>&copy; 2023 Family Management App</p>
    </div>
    {% endblock %}
</footer>
{% endblock %}